<h2 class="page-header"><%= vinyl.title %></h2>
<div class="vinyl-details">
    <div>
        <img class="vinyl-cover" src="<%= vinyl.coverImagePath %>">
        <div class="vinyl-details-btn-grid">
            <a class="btn btn-primary"  href="/vinyls/<%= vinyl.id %>/edit">Edit</a>
            <%-  include('../partials/deleteForm', { url: `/vinyls/${vinyl.id}` }) %>
            <a class="btn btn-primary vinyl-details-artist-button" href="/artists/<%= vinyl.artist.id %>">View Artist</a>
        </div>
    </div>
    <div class="vinyl-details-grid">
        <div class="vinyl-details-label">Artist</div>
        <div><%= vinyl.artist.name %></div>
        <div class="vinyl-details-label">Release Date</div>
        <div><%= vinyl.releaseDate.toDateString() %></div>
        <div class="vinyl-details-label">Genre</div>
        <div><%= vinyl.genre %></div>
        <div class="vinyl-details-label">Description</div>
        <div><%= vinyl.description %></div>
    </div>
</div>