<h2 class="page-header"><%= vinyl.title %></h2>
<img width="150" height="150" src="<%= vinyl.coverImagePath %>">
<div>Artist: <%= vinyl.artist.name %></div>
<div>Release Date: <%= vinyl.releaseDate.toDateString() %></div>
<div>Genre: <%= vinyl.genre %></div>
<div>Description: <%= vinyl.description %></div>

<div class="btn-row">
    <a class="btn btn-primary"  href="/vinyls/<%= vinyl.id %>/edit">Edit</a>
    <a class="btn btn-primary" href="/artists/<%= vinyl.artist.id %>">View Artist</a>
    <%-  include('../partials/deleteForm', { url: `/vinyls/${vinyl.id}` }) %>
</div>